In [3]:
import pandas as pd
from string import ascii_uppercase as alphabet

In [4]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
dict_t = {}
for letter,i in zip(alphabet,range(9,63,7)):
    d = all_tables[i]
    d.rename(columns={d.columns[1]:'Team'},inplace = True)
    d.pop('Qualification')
    dict_t[f'Group {letter}'] = d

In [5]:
dict_t.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [6]:
!pip install lxml

Requirement already satisfied: lxml in d:\anaconda\lib\site-packages (4.9.3)

In [7]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in d:\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Requirement already satisfied: requests in d:\anaconda\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\anaconda\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\anaconda\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests) (2023.7.22)

In [8]:
from bs4 import BeautifulSoup
import requests
years =  [1930,1934,1938,1950,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018,2022]
def get_matches(year):
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'

    response = requests.get(web)
    content = response.text

    soup = BeautifulSoup(content,'lxml')
    matches = soup.find_all('div',class_='footballbox')

    home = []
    score = []
    away = []

    for match in matches:
        home.append(match.find('th',class_='fhome').get_text())
        score.append(match.find('th',class_='fscore').get_text())
        away.append(match.find('th',class_='faway').get_text())
    footbal = {'Home':home,'Score':score,'Away':away}

    fot = pd.DataFrame(footbal)
    fot['Year'] = year
    return fot
fifa = [get_matches(year) for year in years]
df_fifa = pd.concat(fifa,ignore_index=True)

In [9]:
df_fifa.to_csv('fifa worldcup historical data.csv',index =False )

In [10]:
his = pd.read_csv('fifa worldcup historical data.csv')

In [19]:
four = his[his['Year']==2002]
four.head()

         Home Score      Away  Year
484   France    0–1   Senegal  2002
485  Uruguay    1–2   Denmark  2002
486  Denmark    1–1   Senegal  2002
487   France    0–0   Uruguay  2002
488  Denmark    2–0    France  2002

In [49]:
!pip install plotly

Requirement already satisfied: plotly in d:\anaconda\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in d:\anaconda\lib\site-packages (from plotly) (8.2.2)

NameError: name 'his' is not defined